src/*.o
hyper
hyper.dump
.xv6_size
tmp.dump

guest/xv6/fs.img
guest/xv6/tmp.dump
guest/xv6/mkfs/mkfs
guest/xv6/user/_cat
guest/xv6/user/_echo
guest/xv6/user/_forktest
guest/xv6/user/_grep
guest/xv6/user/_grind
guest/xv6/user/_init
guest/xv6/user/_kill
guest/xv6/user/_ln
guest/xv6/user/_ls
guest/xv6/user/_mkdir
guest/xv6/user/_rm
guest/xv6/user/_sh
guest/xv6/user/_stressfs
guest/xv6/user/_usertests
guest/xv6/user/_wc
guest/xv6/user/_zombie
guest/xv6/user/initcode
guest/xv6/user/initcode.out
guest/xv6/user/usys.S
guest/xv6/user/*.asm
guest/xv6/user/*.sym
guest/xv6/user/*.d
guest/xv6/kernel/*.d
guest/xv6/kernel/xv6
guest/xv6/kernel/xv6.asm
guest/xv6/kernel/xv6.img
guest/xv6/kernel/xv6.sym
guest/xv6/.tmp.dump.swp
